#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;

  .App-header {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2.5em;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    color: #308C47;
  }

  .logo {
    width: 6em;
    height: auto;
    background-color: #308C47;
    border-radius: 0px 0px 10px 10px;
    box-shadow: #308C47 0px 1px 5px;
  }
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
}

@media (max-width: 750px) {
  .App {
    .App-header {
      display: flex;
      flex-direction: column;

      .navbar {
        justify-content: space-evenly;
        margin-top: 0.5em;
        flex-wrap: wrap-reverse;
      }
    }
  }
}